.inline-container, .inline-block-container, .block-container, .flex-container{
    border: 1px solid black;
}
.inline-div{
    display: inline;
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2em;
    transition: background-color, 3s;
    animation-name: mojeAnimace;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.inline-block-div{
    display: inline-block;
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2em;
    transition: background-color, 3s;
    animation-name: mojeAnimace;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
.block-div{
    display: block;
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2em;
    transition: background-color, 3s;
    animation-name: mojeAnimace;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.flex-div{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 20px;
    text-align: center;
    color: grey;
    font-family: monospace;
    font-size: 2em;
    transition: background-color, 3s;
    animation-name: mojeAnimace;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;

}

.inline-div:hover, .inline-block-div:hover, .block-div:hover, .flex-div:hover{
    background-color: purple;
}


@keyframes mojeAnimace{
    100%{width: 200px;}
}
